{{ partial "head.html" . }}
{{ partial "navigation.html" . }}

<section class="grid">

    {{ partial "bandcamp.html"}}

    <div class="content lyrics">
        <div class="layout">
            <h1 class="lyrics-title">{{ .Title }}</h1>
            {{ .Content }}
        </div>
    </div>
</section>
    
<aside class="flex">

    {{ if .PrevInSection }}
        <div class="previous">
            <a class="lyrics-title" href="{{ .PrevInSection.Permalink }}"><< {{ .PrevInSection.Title }} </a>
        </div>
    {{ end }}

    {{ if .NextInSection }}
        <div class="next">
            <a class="lyrics-title" href="{{ .NextInSection.Permalink }}"> {{ .NextInSection.Title }} >></a>
        </div>
    {{ end }}
        
</aside>

{{ partial "footer.html" . }}
