{{ partial "head.html" . }}
{{ partial "navigation.html" . }}

<section class="grid">

    {{ partial "bandcamp.html"}}

    <div class="content lyrics">
        <div class="layout">
            <h1 class="lyrics-title">{{ .Title }}</h1>
            {{ .Content }}
        </div>
    </div>
</section>
    
<aside class="flex">

    {{ if .Next }}
        <div class="next">
            <a class="lyrics-title" href="{{ .Next.Permalink }}"><< {{ .Next.Title }} </a>
        </div>
    {{ end }}

    {{ if .Prev }}
        <div class="previous">
            <a class="lyrics-title" href="{{ .Prev.Permalink }}"> {{ .Prev.Title }} >></a>
        </div>
    {{ end }}

</aside>

{{ partial "footer.html" . }}
