<div class="player">
    <!-- <iframe style="border: 0; width: 320px; height: 691px;" src="https://bandcamp.com/EmbeddedPlayer/album=1168021136/size=large/bgcol=333333/linkcol=d3d3d3/track=307921483/transparent=true/" seamless><a href="http://solviaband.bandcamp.com/album/divinorum">Divinorum by Solvia</a></iframe> -->

    <div class="support">
        <p>If you enjoy the music, please support:</p>
        <hr/>
        <div class="icons">
            <a href="https://itunes.apple.com/us/album/divinorum/id1264278945?app=itunes&ign-mpt=uo%3D4">
                <i class="fa fa-apple" aria-hidden="true"></i>
            </a>
            <a href="https://solviaband.bandcamp.com/album/divinorum">
                <i class="fa fa-bandcamp" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    
</div>
