<footer>
    <div class="icons">
        <a href="mailto:info@solvia.co.za" target="_blank">
            <i class="fa fa-envelope-o"></i>
        </a>
        <a href="https://www.facebook.com/Solviaband/" target="_blank">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/solviaband/" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/channel/UCTmmdfFdRF9fIxCD8HdKYKA" target="_blank">
            <i class="fa fa-soundcloud"></i>
        </a>
        <a href="https://soundcloud.com/solviaband" target="_blank">
            <i class="fa fa-youtube-play"></i>
        </a>
        <a href="https://github.com/hisdisgrace" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </div>
</footer>

</body>
</html>
