{{ partial "head.html" . }}
{{ partial "header.html" . }}

<section class="grid">
    {{ partial "bandcamp.html"}}
    <div class="content">
        <div class="layout bio">
        <h2>We are live!</h2>
        <p>Solvia is William “Big Willy” Bishop’s solo project, best known for his work as the Trombonist for Fuzigish. He is a stalwart of the South African rock scene, passionately dedicated to it since joining Leek &amp; the Bouncing Uptones in 1999 at the age of seventeen. His concurrent love for bass guitar quickly led him to becoming an integral member of heavy-metal heavyweights Architecture of Aggression, before landing him in his current role as bass-slinger for Rock &#39;n Roll legends, The Slashdogs.</p>
        <p>His debut album, “Divinorum”, is the result of seven years of writing, recording, mixing, mastering and learning.</p>
        <p>“Artists that take control of the whole production process have been especially inspiring to me, guys like Frank Zappa, Trent Reznor and Mike Patton”.</p>
        <p>Divinorum embraces the power of digital music production while drawing inspiration from the Rock ‘n Roll majesty of bands like Black Sabbath &amp; Tool. Ferocious basslines are a prominent element of Solvia as are the melodic vocal lines which drive the music.</p>
        <p>Political themes, as well as the esoteric, feature on Divinorum. “Nixon’s Nightmare” decries the failure and injustice of the war on drugs while “Deus Infinitus” explores the beauty of dying. “Anger is an emotion I love to channel, the injustice and inequality rampant on earth is a constant source of motivation to me. At the same time I can see how far we have come and how far we may yet go. I have a powerful optimism for humanity and life itself, preferring to look deep into the future than the dismal prospects of ‘The Next Election’”<p>
            <p>Paul Gioia (The Slashdogs, ATFN) was a vital part of the album, contributing to the song writing, mixing as well as performing all the guitars. Thomas Hughes (Fuzigish, Vulvodynia), laid down the powerful drumming that forms the backbone of the sound. A number of William’s students, friends and musicians from around the world, made their own contributions to Divinorum.</p>
            <p>“Producing this album was a deeply moving experience for me. Certainly the most ambitious project I’ve undertaken. The next challenge is going to be performing this album live, an opportunity the band is relishing!”</p>
        </div>
    </div>

    <div class="youtubtContainer">
        <div class="youtube">
            <iframe class="video" src="https://www.youtube.com/embed/JMwSXCC7wKU" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
