{{ partial "head.html" . }}
<div id="headerImage">
    <img id="homeTitle" class="active" alt="Solvia" src="./img/Solvia_shadow.png"/>
</div>
{{ partial "navigation.html" . }}

<section class="grid">
    <div class="content shows">
        <div class="layout">
            <h2 class="lyrics-title">
                2017: One show only
            </h2>
            <hr/>
            <div class="show-align">
                <div id="map-canvas"></div>
                <ul>
                    <li><h4>Rumours Rock</h4></li>
                    <li>3 November 22h00</li>
                    <li>Damage: R50</li>
                    <li>Merch for sale</li>
                    <li>
                        <a href="https://www.facebook.com/events/336064500181329/?ref=br_rs" target="_blank">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {{ partial "bandcamp.html"}}
    <div class="content">
        <div class="layout">
            <h1 class="lyrics-title">Solvia</h1>
            <p>Big Willy is best known for his work as the trombonist for <strong>FUZIGISH</strong>. Devoted to the performance and production of South African music, he has been a stalwart of the scene for nearly twenty years having joined <strong>LEEK & the Bouncing Uptones</strong> at the spritely age of seventeen.</p>

            <p>Bass guitar is Will’s second instrument and often at the core of his writing. He throttled the bass for <strong>Architecture of Aggression</strong> for most of a decade before joining <strong>The Slashdogs</strong> in 2015.</p>
            <p><strong>SOLVIA</strong> is his vocally driven solo project.</p>
            <p>Will’s debut album, <strong>DIVINORUM</strong>, is the result of seven years spent writing, recording, mixing, mastering and learning. Committed to controlling the entire process, he produced the album from start to finish.</p>
            <p><strong>SOLVIA</strong> embraces the power of digital music production while drawing inspiration from the Rock ‘n Roll majesty of bands such as Black Sabbath and Tool. Socio-political themes, as well as the esoteric, feature strongly on <strong>DIVINORUM</strong>; <em>Nixon’s Nightmare</em> decries the failure and injustice of the war on drugs, <em>Deus Infinitus</em> explores the beauty of dying.</p>
            <p><em>“Creating this album was a deeply moving experience. The next step is to perform it live, a prospect the band is relishing"</em></p>
        </div>
    </div>

    <div class="youtubtContainer">
        <div class="youtube">
            <iframe class="video" src="https://www.youtube.com/embed/QQkXCfCN60I" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    
    <div class="youtubtContainer">
        <div class="youtube">
            <iframe class="video" src="https://www.youtube.com/embed/wKiraRzJNG0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}
