// Screen
// ======
@import "reset";
@import "grids";
@import "colors";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700');
$font-arimo: 'Arimo', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700');
$font-cinzel: 'Cinzel Decorative', cursive;

$player-width: 320px;

$ani-duration: 0.6s;
$ani-delay: 0.5s;
$swipe-duration: 0.8s;

$gutter: gutter();
$gutter_half: $gutter * 0.5;
$gutter_quater: $gutter * 0.25;

@mixin card{
    background-color: $background;
    border: 1px solid $border;
    box-sizing: border-box;
}

// Custom Layout for different sections

@include mappy-bp(med) {
    .player,
    .youtubtContainer{
        @include span(4 of 8 first);

        iframe{margin:0 $gutter_half}
    }
    .content{
        @include span(4 of 8 last);
    }
    .content.shows {
        @include span(8 of 8);
    }
}

@include mappy-bp(large) {
    .player{
        @include pre(1 of 12);
        @include span(4 of 12 first);
        @include post(1 of 12);
    }

    .content,
    .youtubtContainer{
        @include span(5.5 of 12 last);
        @include post(0.5 of 12);
    }

    .content.shows {
        @include pre (1 of 12);
        @include span(10.5 of 12);
        @include post(0.5 of 12);
    }
}

@include mappy-bp(wide) {
    .player{
        @include pre(1 of 14)
        @include span(5 of 14 first);
        @include post(0 of 14);
    }
        
    .content,
    .youtubtContainer{
        @include pre(0.5 of 14);
        @include span(7 of 14 last);
        @include post(0.5 of 14);
    }

    .content.shows {
        @include pre (1.3 of 14);
        @include span(12.2 of 14);
        @include post(0.5 of 14);
    }
}
    
// Custom Layout End

html {
    font-size: 62.5%;
}

body {
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-family: $font-arimo;
    color: $text-normal;
    min-width: 320px;
    background-color: #111;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1, h2, h3, h4, h5, h6{
  clear: both;
  color:$text-bright;
}

.lyrics-title{
    font-weight: 300;
    font-family:$font-cinzel;
}

h1, h2 {
    font-size: 3.8rem;
    line-height: 4.2rem;

    @include mappy-bp(med){
    font-size: 4.8rem;
    line-height: 5.2rem;
    }
}

h3 {
    font-size: 4.2rem;
    line-height: 5.0rem;
}

h4 {
    font-size: 3.8rem;
    line-height: 4.4rem;
}

h5 {
    font-size: 3.1rem;
    line-height: 3.6rem;
}

h6 {
    font-size: 2.7rem;
    line-height: 3.1rem;
}

p {
    padding: 10px 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

canvas{
  display:block;
  vertical-align:bottom;
}

hr{
    border-top: 1px solid #393939;
    border-right: none;
    border-bottom: none;
    border-left: none;
}

nav{
    position: fixed;
    top: -50px;
    z-index:100;
    transition: top 0.5s ease-out;
    background-color: rgba(0,0,0,0.7);
    border-right: 1px solid rgba(255,255,255,0.15);
    border-bottom: 1px solid rgba(255,255,255,0.15);
    display:flex;
    align-items: stretch;
    
    a,
    a:visited{
        font-family:$font-cinzel;
        font-size: 2.6rem;
        color:#fff;
        line-height:3rem;
        padding: 10px 10px 5px;
    }
    
    img{
        cursor: pointer;
        filter: brightness(0) invert(1);
        width: 100px;
    }

    &.active{
        top: 0px;
    }

     .icons{
        justify-content: flex-start;
    }
}

.grid{
    padding: 0 20px;
    @include mappy-bp(large){ padding: 0; }
}
    
.support{
    @include card;
    padding: 20px;
    max-width: $player-width;
    margin: 30px auto 0;

    .icons{
        display: flex;
        justify-content: center;
    }

    p {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    a{
        font-size: 4.2rem;
        line-height: 4.6rem;
        min-width: 50px;
        margin: 0 30px;
    }
}

.youtubtContainer{
    @include card;
    margin-top: 30px;
    
}

.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    iframe{margin:0;}
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shows{
    overflow: hidden;

    .show-align{
        display:flex;
        align-items: center;
        flex-direction: column;

        @include mappy-bp(med){ flex-direction: row-reverse; }
    }

    #map-canvas{
        height:200px;
        width:100%;

        img { max-width: none; }
        a{
            padding: 0px;
            min-width: 0px;
            display: iherit;
            text-align: inherit;
        }
        @include mappy-bp(med){ width:80%; }
    }
        
    ul{
        font-size: 2.2rem;
        line-height: 2.6rem;
        @include mappy-bp(med){ width:40%; }
        a i { font-size:4.0rem; }
    }
}
    
.player iframe{
    margin: 0 auto;
    display: block;
}

.song-list{
    @include card;
}

.content{
    @include card;

    padding: 0 20px;
    margin-top: 30px;
    
    .layout{
        padding: 10px 10px 15px;

        ul, p{padding: 15px 5px 0;}

        ol{
            padding: 20px 0 5px;
            li a{
                    width:90%;
                    text-align: left;
                    border-bottom: 1px solid rgba(255,255,255,0.15);  
                }
            li:first-child a{border-top: 1px solid rgba(255,255,255,0.15);}
        }
    }
}

.lyrics{
    padding-bottom: 20px;
    ul li {font-style: italic;}
}

#headerImage{
    background:url(../img/SolviaSun.jpg);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    border-bottom: 5px solid $grey-dark;

    overflow: hidden;
    position: relative;

    @include mappy-bp(med){ background-attachment: fixed; }
}

#homeTitle{
    max-width:1080px;
    position: absolute;
    transition: width $ani-duration, opacity $ani-duration, top $ani-duration;
    transform: translate(-50%, -50%);
    
    top: 50%;
    left: 50%;
    
    width:30%;    
    opacity:0;

    &.active{
        width:100%;
        opacity:1;
    }
}

footer{
    @include card;
    margin-top: 20px;
    padding: 10px 0;
    .icons{
     
        justify-content: flex-end;
    }
}

 .icons{
        max-width:1080px;
        margin: 0 auto;
        display:flex;
    }

a{
    color:$text-normal;
    text-decoration:none;
    padding: 10px;
    min-width: 30px;
    display: inline-block;
    text-align: center;
    
    @include mappy-bp(med) {
        font-size:2.4rem;
    }

    &:hover{
        background-color: #222;
    }
    &:visited{
        color:$text-highlight;
    }
}
    
svg{
    fill:#000;
    margin-top:20%;
}

.flex{
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .previous, .next{
        background-color:$background;
    }
            
    .next{ margin-right:15px; }
}
