// Screen
// ======
@import "reset";
@import "grids";
@import "colors";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Arimo:400,400i,700');
$font-arimo: 'Arimo', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700');
$font-cinzel: 'Cinzel Decorative', cursive;

$ani-duration: 0.6s;
$ani-delay: 0.5s;
$swipe-duration: 0.8s;

$gutter: gutter();
$gutter_half: $gutter * 0.5;
$gutter_quater: $gutter * 0.25;

@mixin card{
    background-color: $background;
    border: 1px solid $border;
    box-sizing: border-box;
}

// Custom Layout for different sections

@include mappy-bp(med) {
    .player,
    .content{
        @include pre(0);
        @include post(0);
    }
    .player{
        @include span(4 of 8 first);

        iframe{margin:0 $gutter_half}
    }
    .content{
        @include span(3.5 of 8 last);
        @include post(0.5 of 8);
        //max-width: initial;
    }
}

@include mappy-bp(large) {
    .player{
        @include pre(1 of 12);
        @include span(4 of 12);
        @include post(1 of 12);
    }

    .content{
        @include span(6 of 12);
    }
}

@include mappy-bp(wide) {
    .player{
        @include pre(1 of 14)
        @include span(5 of 14);
        @include post(0 of 14);
    }
    .content{
        @include span(7 of 14);
        @include post(1 of 14);
    }
}
    
// Custom Layout End

html {
    font-size: 62.5%;
}

body {
    line-height: 1.8rem;
    font-size: 1.4rem;
    font-family: $font-arimo;
    color: $text-normal;
    min-width: 320px;
    background-color: #111;
    background-attachment: fixed;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='12' viewBox='0 0 40 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6.172L6.172 0h5.656L0 11.828V6.172zm40 5.656L28.172 0h5.656L40 6.172v5.656zM6.172 12l12-12h3.656l12 12h-5.656L20 3.828 11.828 12H6.172zm12 0L20 10.172 21.828 12h-3.656z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

h1, h2, h3, h4, h5, h6{
  clear: both;
  color:$text-bright;
}

.lyrics-title{
    font-weight: 300;
    font-family:$font-cinzel;
}

h1 {
    font-size: 6.0rem;
    line-height: 7.0rem;
}

h2 {
    font-size: 3.8rem;
    line-height: 4.2rem;

    @include mappy-bp(med){
    font-size: 4.8rem;
    line-height: 5.2rem;
    }
}

h3 {
    font-size: 4.2rem;
    line-height: 5.0rem;
}

h4 {
    font-size: 3.8rem;
    line-height: 4.4rem;
}

h5 {
    font-size: 3.1rem;
    line-height: 3.6rem;
}

h6 {
    font-size: 2.7rem;
    line-height: 3.1rem;
}

p {
    padding: 10px 0;
}

em {
    font-style: italic;
}

strong {
    font-weight: 600;
}

canvas{
  display:block;
  vertical-align:bottom;
}

hr{
    border-top: 1px solid #393939;
    border-right: none;
    border-bottom: none;
    border-left: none;
}


nav{
    position: fixed;
    //width:100%;
    top: -50px;
    z-index:100;
    transition: top 0.5s ease-out;
    background-color: rgba(0,0,0,0.7);
    border-right: 1px solid rgba(255,255,255,0.15);
    border-bottom: 1px solid rgba(255,255,255,0.15);
    display:flex;
    align-items: stretch;
    a,
    a:visited{
        font-family:$font-cinzel;
        font-size: 2.6rem;
        color:#fff;
        line-height:3rem;
        padding: 10px 10px 5px;
    }
    
    img{
        cursor: pointer;
        filter: brightness(0) invert(1);
        width: 100px;
    }

    &.active{
        top: 0px;
    }

     .icons{
        justify-content: flex-start;
    }
}


#homeTitle{
    img{
        transition: all 0.5s ease-out;
        width:50%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        opacity:0;
    }

    &.active img {
        max-width:1080px;
        width:95%;
        opacity:1;
    }
}

.content{
    padding: 0 20px;
    margin: 0 20px;
    //height: 1920px;
        
    @include mappy-bp(large) {
        padding: 0;
        margin: 0;

    }
}

.player,
.content{
    margin-top: 30px;
    }
    
.player iframe{
    margin: 0 auto;
    display:block;
}

.song-list{
    @include card;
}

.content{
    @include card;
     
    .layout{
        padding: 10px 10px 15px;

        ul, p{padding: 15px 5px 0;}
        ol{
            padding: 20px 0 5px;
            li a{
                    width:90%;
                    text-align: left;
                    border-bottom: 1px solid rgba(255,255,255,0.15);  
                }
            li:first-child a{border-top: 1px solid rgba(255,255,255,0.15);}
        }
    }
}

.lyrics ul li {font-style: italic;}

#headerImage{
    background:url(../img/SolviaSun.jpg);

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

    @include mappy-bp(med){ background-attachment: fixed; }
}

footer{
    @include card;
    margin-top: 20px;
    padding: 10px 0;
    .icons{
     
        justify-content: flex-end;
    }
}

 .icons{
        max-width:1080px;
        margin: 0 auto;
        display:flex;
     
    }

a{
    color:$text-normal;

    text-decoration:none;

    @include mappy-bp(med) {
        font-size:2.4rem;
    }
    padding: 10px;
    min-width: 30px;
    display: inline-block;
    text-align: center;

    &:hover{
        background-color: #222;
    }
    &:visited{
        color:$text-highlight;
    }
}

.bio{
    text-align: center;
}
    
svg{
    fill:#000;
    margin-top:20%;
}

.flex{
    display: flex;
    justify-content: center;
    padding-top: 20px;

    .previous, .next{
        background-color:$background;
    }
            
    .next{ margin-right:15px; }
}
